.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

#headword_front {
	text-align: left;
	font-size: 40px;
}

#pron_front {
	text-align: left;
	display: none;
}

#headword_front:hover + #pron_front {
	display: block;
}

#headword_back {
	text-align: left;
	font-size: 40px;
}

#pron_back {
	text-align: left;
}